@mixin h2-desktop {
  margin: 0;
  padding: 0;
  font-family: $additional-font;
  font-weight: $font-weight-regular;
  font-size: $font-size-desktop-h2;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.8px;
}

@mixin h2-tablet {
  font-size: $font-size-tablet-h2;
}

@mixin h2-mobile {
  font-size: $font-size-mobile-h2;
  letter-spacing: 1.1px;
}
