$main-background-color: #ffffff;

$main-font: "Roboto Condensed",
  "Arial",
  sans-serif;
$additional-font: "BebasNeue";

$main-color: #102654;
$second-color: #ffffff;
$accent-color-1: rgba(16, 38, 84, 0.5);
$accent-color-2: #495a7d;
$accent-color-3: #103aae;
$accent-color-4: #2e35ac;

$line-height-xs: 1.102;
$line-height-m: 1.4;
$line-height-s: 1.5;
$line-height-mm: 1.523;


$font-size-desktop-xs: 12px;
$font-size-desktop-s: 14px;
$font-size-desktop-m: 16px;
$font-size-desktop-mm: 18px;
$font-size-desktop-ml: 20px;
$font-size-desctop-ll: 22px;
$font-size-desktop-l: 26px;
$font-size-desktop-l2: 28px;
$font-size-desktop-h2: 49px;
$font-size-desktop-xl: 60px;
$font-size-desktop-xxl: 90px;
$font-size-desctop-xxll: 71px;
$font-size-desktop-xxxl: 109px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$letter-spacing-1: 1.3px;
$letter-spacing-2: 1.5px;
