$main-background-color: #ffffff;
$accent-background: #ab042e;
$accent-background-2: #f8f9fc;
$accent-background-3: #1c3374;
$accent-background-4: #030a1a;
$banner-background: #ed0233;
$gradient-color-1: #003d85;
$gradient-color-2: #b80027;
$gradient-color-3: #00359f;
$gradient-color-4: #0041ca;
$gradient-color-5: #d10a42;
$gradient-button: #003eb7;
$border-color: rgba(120, 120, 120, 0.2);
$border-color-2: rgba(209, 10, 66, 0.2);
$border-color-3: #d10a42;
$border-color-4: #74819c;
$shadow-color-2: #e8e8e8;
$overlay-color: rgba(16, 38, 84, 0.89);
$shadow-color: rgba(28, 51, 116, 0.2);

$main-font: "Roboto Condensed",
  "Arial",
  sans-serif;
$additional-font: "BebasNeue",
  "Arial",
  sans-serif;

$main-color: #102654;
$second-color: #ffffff;
$accent-color-1: rgba(16, 38, 84, 0.5);
$accent-color-2: #495a7d;
$accent-color-3: #103aae;
$accent-color-4: #2e35ac;
$accent-color-5: #b6bdcc;

$line-height-ss: 1;
$line-height-xs: 1.102;
$line-height-m: 1.4;
$line-height-s: 1.5;
$line-height-mm: 1.523;

$font-size-desktop-xs: 12px;
$font-size-desktop-s: 14px;
$font-size-desktop-m: 16px;
$font-size-desktop-mm: 18px;
$font-size-desktop-ml: 20px;
$font-size-desktop-ll: 22px;
$font-size-desktop-l: 26px;
$font-size-desktop-l2: 28px;
$font-size-desktop-l3: 40px;
$font-size-desktop-h2: 49px;
$font-size-desktop-xl: 60px;
$font-size-desktop-xxl: 90px;
$font-size-desktop-xxll: 71px;
$font-size-desktop-xxlll: 70px;
$font-size-desktop-xxxll: 74px;
$font-size-desktop-xxxl: 109px;
$font-size-tablet-xs: 10px;
$font-size-tablet-s: 12px;
$font-size-tablet-m: 18px;
$font-size-tablet-l: 24px;
$font-size-tablet-xl: 34px;
$font-size-tablet-h2: 42px;
$font-size-tablet-xxxl: 86px;
$font-size-tablet-ll: 52px;
$font-size-tablet-xxl: 58px;

$font-size-mobile-m: 16px;
$font-size-mobile-l: 20px;
$font-size-mobile-ll: 22px;
$font-size-mobile-xl: 28px;
$font-size-mobile-h2: 32px;
$font-size-mobile-xxl: 48px;
$font-size-mobile-xxxl: 78px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$letter-spacing-1: 1px;
$letter-spacing-2: 1.5px;

$desktop-full-width: 1366px;
$tablet-full-width: 1199px;
$mobile-full-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
