.button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  padding: 15px 35px;
  text-align: center;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: $font-size-desktop-xs;
  letter-spacing: $letter-spacing-2;
  border: 4px solid $second-color;
}

.button--contrast {
  color: $main-color;
  border-color: $main-color;
}
