.controls__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: $font-weight-regular;
  font-size: $font-size-desktop-ml;
  color: $accent-color-1;
}

.controls__button--active {
  color: $main-color;
}

@media (max-width: $tablet-full-width) {
  .controls__button {
    font-size: $font-size-desktop-mm;
  }
}

@media (max-width: $mobile-full-width) {
  .controls__button {
    font-size: $font-size-desktop-m;
  }
}
