.gym-info h2 {
  @include h2-desktop;
}

.gym-info b {
  font-weight: $font-weight-regular;
  font-size: $font-size-desktop-mm;
}

.gym-info p {
  margin: 0;
  padding: 0;
}

.gym-info__video-button {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
}

@media (max-width: $tablet-full-width) {
  .gym-info h2 {
    @include h2-tablet;
  }

  .gym-info__text--additional {
    display: none;
  }
}

@media (max-width: $mobile-full-width) {
  .gym-info h2 {
    @include h2-mobile;
  }
}
