.info-block {
  display: flex;
  justify-content: space-between;
}

.info-block__text {
  width: 34.1%;
  padding-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  text-align: end;
}

.info-block b {
  @include h2-desktop;
  line-height: $line-height-ss;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
  font-weight: $font-weight-regular;
}

.info-block h2 {
  margin: 0;
  padding: 0;
  width: 300px;
  font-family: $additional-font;
  font-size: $font-size-desktop-xxxl;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 3.27px;
  line-height: $line-height-ss;
  text-align: right;
}

.info-block__advantages-list {
  padding: 0;
  margin: 0;
  width: 113px;
  margin-right: 265px;
  margin-top: -95px;
  margin-bottom: 89px;
  list-style: none;
  font-size: $font-size-desktop-s;
}

.info-block__photo {
  width: 500px;
  height: 556px;
  margin-top: -7px;
  background-image: url("../img/man-desktop@1x.jpg");
  background-color: $accent-background-3;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/man-desktop@2x.jpg");
    background-size: 500px auto;
  }
}

.info-block__social-list {
  margin: 0;
  padding: 0;
  width: 11.9%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  font-size: $font-size-desktop-xs;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.info-block__social-list li {
  margin-top: 15px;
}

.info-block__social-list a:hover,
.info-block__social-list a:focus {
  opacity: 0.7;
}

.info-block__social-list a:active {
  opacity: 0.5;
}

.info-block__button {
  margin-right: 2px;
}

@media (max-width: $tablet-full-width) {
  .info-block b {
    font-size: $font-size-tablet-xl;
    margin-bottom: 6px;
    letter-spacing: 1.02px;
  }

  .info-block h2 {
    font-size: $font-size-tablet-xxxl;
    letter-spacing: 2.58px;
    width: 235px;
  }

  .info-block__social-list {
    display: none;
  }

  .info-block__photo {
    width: 324px;
    height: 390px;
    margin-top: 0;
    background-image: url("../img/man-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/man-tablet@2x.jpg");
      background-size: 324px auto;
    }
  }

  .info-block__text {
    padding-top: 57px;
    width: 47.9%;
  }

  .info-block__advantages-list {
    margin-top: -83px;
    margin-right: 213px;
    margin-bottom: 60px;
  }
}

@media (max-width: $mobile-full-width) {
  .info-block__text {
    width: 290px;
  }

  .info-block b {
    margin-bottom: 13px;
    font-size: $font-size-mobile-xl;
    letter-spacing: 0.84px;
  }

  .info-block h2 {
    letter-spacing: 2.34px;
    font-size: $font-size-mobile-xxxl;
  }

  .info-block__photo {
    display: none;
  }

  .info-block__advantages-list {
    margin-top: -78px;
    margin-right: 180px;
    margin-bottom: 58px;
  }
}
