.page-header__top-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: $additional-font;
  font-weight: $font-weight-bold;
  font-size: $font-size-desktop-l;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-1;
}
