.page-header {
  background-color: $accent-background;
  color: $second-color;
}

.page-header__top-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: $additional-font;
  font-weight: $font-weight-bold;
  font-size: $font-size-desktop-l;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-1;
}

.page-header a {
  color: $second-color;
}

@media (max-width: $tablet-full-width) {
  .page-header__top-list {
    font-size: $font-size-tablet-l;
  }
}

@media (max-width: $mobile-full-width) {
  .page-header__top-list {
    font-size: $font-size-mobile-l;
  }
}
