.slider-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.slider-buttons__button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider-buttons__button:hover,
.slider-buttons__button:active {
  outline: none;
}

.slider-buttons__button:hover svg,
.slider-buttons__button:focus svg {
  width: 24px;
  height: 40px;
}

.slider-buttons__button:active {
  opacity: 0.5;
}

@media (max-width: $mobile-full-width) {
  .slider-buttons__button svg {
    width: 11px;
    height: 20px;
  }

  .slider-buttons__button:hover svg,
  .slider-buttons__button:focus svg {
    width: 20px;
    height: 34px;
  }
}
