.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 7px;
  flex-wrap: wrap;
}

.social-list__item {
  margin-right: 25px;
}

.social-list__item:nth-child(3n) {
  margin-right: 0;
}

.social-list__link {
  color: $second-color;
}

.social-list__link:hover,
.social-list__link:focus {
  opacity: 0.7;
}

.social-list__link:active {
  opacity: 0.5;
}

@media (max-width: $tablet-full-width) {
  .social-list__item {
    margin-right: 19px;
  }

  .social-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: $mobile-full-width) {
  .social-list {
    align-items: center;
  }

  .social-list__item {
    margin-right: 36px;
  }

  .social-list__item:nth-child(3n) {
    margin-right: 36px;
  }

  .social-list__item:last-child {
    margin-right: 0;
  }

  .social-list__item--vk svg {
    width: 32px;
    height: 17px;
  }

  .social-list__item--insta svg {
    width: 27px;
    height: 27px;
  }

  .social-list__item--fb svg {
    width: 14px;
    height: 27px;
  }
}
